@font-face {
    font-family: "dragalialost";
    src: url("https://dgk3593.github.io/dl-pfcard/dragalialost.ttf");
    font-style: normal;
    font-display: swap;
}

html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --background-color: #ccc;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--background-color);
    font-family: "dragalialost", "Helvetica Neue", arial, sans-serif;
    font-weight: 400;
    color: #444;
    overflow: hidden;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    height: 100dvh;
    width: 100vw;
}

.output {
    min-width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 450px;
}

.download {
    padding: 0.3rem;
}

.settings {
    min-width: 30rem;
    flex: 1;
}
